{% extends 'blog/base.html' %}
{% block title %}Portifolio - João Assalim{% endblock %}

{% block content %}
<div id="wrapper">
        
        <!-- About Me -->
            <section id="two" class="wrapper style3 fade-up">
                <div class="inner">
                    <h2>About Me</h2>
                    <p>I'm João Assalim, I'm 18 years old and I've been a programmer since I was 15. I have knowledge in Python, C/C++ and markup languages ​​like HTML, CSS and JS. I'm developing knowledge in some python frameworks.</p>
                    <div class="features">
                        <section>
                            <span class="icon solid major fa-book"></span>
                            <h3>Languages</h3>
                            <p>Portuguese - Fluent </br> 
                            English - Conversational</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-code"></span>
                            <h3>Programming Languages</h3>
                            <p>Python - 3 years </br> 
                            C/C++ - 1 year</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-desktop"></span>
                            <h3>Experience</h3>
                            <p>CPCON - Jan/2023 - Today</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-link"></span>
                            <h3>Certificates</h3>
                            <p>English Couse - Wise Up (2021)</br>
                            Python Course - Udemy (2021)
                            </p>
                        </section>
                    </div>
                </div>
            </section>


    </div>
{% endblock %}