{% extends 'blog/base.html' %}
{% block title %}Portifolio - João Assalim{% endblock %}

{% block content %}
<div id="wrapper">

        <!-- Intro -->
            <section id="intro" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <a class="image main" ><img src="../../../static/images/perfil.jpg" alt="" data-position="top center"/></a>
                    <h1>João Assalim</h1>
                    <p>I'm backend developer that know Python and C++. <br/>
                    This Portfolio was developed using HTML, CSS and JS with Django in backend.<br /></p>
                </div>
            </section>


    </div>
{% endblock %}