{% extends 'blog/base.html' %}
{% block title %}Portifolio - João Assalim{% endblock %}

{% block content %}
<div id="wrapper">
        <!-- One -->
            <section id="one" class="wrapper style2 spotlights">
                <section>
                    <div class="content">
                        <div class="inner">
                            <h2>Prices Finder</h2>
                            <p>Web Scraping that searches for products/brands on different sites and returns them along with a json using Python with BeautiFulSoup.</p>

                            <ul class="actions">
                                <li><a href="https://github.com/JoaoAssalim/Buscador-de-Produtos" class="button">See more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <div class="inner">
                            <h2>CryptoLive</h2>
                            <p>Mobile App to view Crypto Currency in real time made in React Native using binance API.</p>
                            <ul class="actions">
                                <li><a href="https://github.com/JoaoAssalim/CryptoLive" class="button">See more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <div class="inner">
                            <h2>Converter Cases</h2>
                            <p>Script to convert any text to case you want. Case conversion is also referred to as 'conversion to upper or lower case'.</p>
                            <ul class="actions">
                                <li><a href="https://github.com/JoaoAssalim/ConvertCase" class="button">See more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                
            </section>

    </div>
{% endblock %}